@font-face {
    font-family: 'SFFONT';
    src: url('static/fonts/SF-Pro-Display-Regular.ttf');
}
.fon {
    background-image: url(static/images/nafon1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.telo {
    margin-top: 5%; 
    margin-right: 8%; 
    margin-left: 8%; 
    text-align: justify; 
    display: flex;  
    vertical-align: middle;
	background: rgba(255, 255, 255, 0.5); 
    border-radius: 2vw;
}
.text{
    color:black;
    font-family: 'SFFONT'; 
    font-size: 24px; 
    vertical-align: middle; 
    margin-left: 2%;
    margin-top: 3.2%; 
    margin-bottom: 2%; 
    margin-right: 2%;
}

.formli{
    color:black;
    font-family: 'SFFONT'; 
    font-size: 24px; 
    vertical-align: middle; 
}

.photo{
    float: left; 
    vertical-align: middle; 
    border-radius: 8vw; 
    border: 3px solid #000000 ; 
    height: 400px; 
    margin: 2%; 
}


