.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
}


.column {
    flex: 50%;
}

.Chessh1 {
    font-size: 40px;
}

.Chessh2 {
    font-size: 35px;
}

.Chessp {
    padding-left: 1%;
    padding-right: 1%;
    text-indent: 1%;
}

.Chessa {
    font-size: 20px;
    text-align: start;
    padding-left: 1%;
    padding-right: 1%;
}

.Chessli {
    font-size: 20px;
    text-align: start;
    padding-left: 1%;
    padding-right: 1%;
}
